# Ignore both root files and root directories...
/*

# ...except these folders (and eventually their content) down here...
!/.git
!/tests

# ...and except these files down here...
!/CMakeLists.txt
!/Doxyfile
!/LICENSE
!/README.md
!/runTests.sh
!/travis.yml
!/.gitignore