# Ignore both root files and root directories...
/*

# ...except these folders (and eventually their content) down here...
!/images
!/tests
!/.git

# ...and except these files down here...
!/BranchHinting.hpp
!/CMakeLists.txt
!/Doxyfile
!/LICENSE
!/README.md
!/runTests.sh
!/travis.yml
!/.gitignore